<h1><span data-i18n="skills.my_skills">Guilherme Atihe de Oliveira</span></h1>

<div>
    <p style = "text-align: justify">Howdy, my name is Guilherme, I`m currently 26 years old and living in Campinas - SP (Brazil). I have a bachelor's degree in Information Systems at State University of Campinas (UNICAMP) and I'm currently pursuing a specialization in Artificial Intelligence and Machine Learning at Pontifical Catholic University of Minas Gerais (PUC-MG). The main goal of this page is to log about topics on computer science that comes to my attention.</p>
    <p style = "text-align: justify">I have been using a lot of Python and Java lately and I'm also using this blog to log about topics I run into during my studies. I really hope to share some useful insights about what I have been learning.</p>
</div>
