<h1><span data-i18n="skills.my_skills">Guilherme Atihe de Oliveira</span></h1>

<div>
    <p style = "text-align: justify">Howdy, my name is Guilherme and I'm a Systems Information student at State University of Campinas (UNICAMP) at Brazil. The main goal of this page is to log about topics on computer science that comes to my attention.</p>
    <p style = "text-align: justify">I have been using a lot of Python and Java lately, I hope to share some useful insights about what I have been learning.</p>
</div>
